.Egg {
    background-color: yellow;
    color: white;
    font-size: 80px;
}

h2 {
    background-color:orange;
    color: red;
    font-style: italic;
}

li {
    font-family:'Courier New', Courier, monospace;
}

img {
    height:700px;
    width:auto;
}